%div.card.mb-3.w-100.hvr-backward
  %div.row.g-0
    %div.col-md-4.post-card-img
      %i.fab{class: "fa-#{post.tags[0]}"}
    %div.col-md-8
      %div.card-body
        %h5.card-title= post.title
        %p.card-text= post.summary

        %small.text_muted
          %i.fas.fa-folder-open
          - post.categories.each do |category|
            - p category
            = link_to category, posts_path(q: {title_or_tags_name_or_categories_name_cont: category.name}), class: "btn btn-secondary btn-sm" 
          %i.fas.fa-tag
          - post.tags.each do |tag|
            = link_to tag, posts_path(q: {title_or_tags_name_or_categories_name_cont: tag.name}), class: "btn btn-secondary btn-sm" 

        %div.d-flex.justify-content-end
          %div.btn-group
            = link_to "Show", post, class: "btn btn-secondary"
            - if admin_signed_in?
              = link_to "Edit", edit_post_path(post), class: "btn btn-success"
              = link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
              
    %div.card-footer
      %small.text-muted
        = post.created_at.strftime("%Y/%m/%d")