- tag_lists = [["folder-open", "カテゴリー", post.categories], ["tag", "タグ", post.tags]]

%div.card.mb-3.w-100.hvr-backward
  %div.row.g-0
    %div.col-md-4.post-card-img
      %i.fab{class: "fa-#{post.tags[0]}"}
    %div.col-md-8
      %div.card-body
        %h5.card-title= post.title
        %p.card-text= post.summary
        %small.text_muted
          = render "tag_lists", tag_lists: tag_lists

        %div.d-flex.justify-content-end
          %div.btn-group
            = link_to "Show", post, class: "btn btn-secondary"
            - if admin_signed_in?
              = link_to "Edit", edit_post_path(post), class: "btn btn-success"
              = link_to "Delete", post_path(post), method: :delete, class: "btn btn-danger", data: {confirm: "Are you sure?"}
              
    %div.card-footer
      %small.text-muted
        = post.created_at.strftime("%Y/%m/%d")