- tag_lists = [["folder-open", "カテゴリー", post.categories], ["tag", "タグ", post.tags]]

%div.card.w-100.mb-3.hvr-backward
  %div.row.g-0

    %div.col-md-4.d-flex.justify-content-center.align-items-center.bg-secondary.text-white.border-right.post-card-img
      %i.my-5.display-1{class: "devicon-#{post.tags[0]}-plain"}

    %div.col-md-8
      %div.card-body
        %h5.card-title= post.title
        %p.card-text.text-muted= post.summary
        %small.text_muted
          = render "tag_lists", tag_lists: tag_lists

        %div.d-flex.justify-content-end.my-2
          = link_to "Show", post, class: "btn btn-secondary stretched-link"
              
    %div.card-footer
      %small.text-muted
        = post.created_at.strftime("%Y/%m/%d")