%div.col-6
  = link_to post, class: "h-100 w-100 hvr-float link_to-block" do 
    %div.card.h-100.w-100
      %div.sm-y.d-flex.justify-content-center.align-items-center.bg-secondary.text-white{style: "height: 100px"}
        %i.fab.my-5.display-5{class: "fa-#{post.tags[0]}"}
      %div.card-body
        %h6.card-title.text-truncate= post.title 
        %p.card-text= post.summary
      %div.card-footer
        %small.text-muted= post.created_at.strftime("%Y/%m/%d")