:ruby
  profiles = ["2020/10/5", "都内在住", "WEB Programming/Compose"]
  links = [
    ["Github", "https://github.com/izszzz", "github-original"],
    ["Twitter", "https://twitter.com/izszzz_", "twitter-plain"], 
    ["MENTA", "https://menta.work/user/14528", ""], 
    ["Carbonmade", "https://izszzz.carbonmade.com", ""]
  ]
  lang_skills = [
    ["first", "Ruby", "ruby-plain", [["Ruby on Rails", "rails-plain"]]], 
    ["second" , "Node.js", "nodejs-plain", [
        ["Typescript", "typescript-plain"],
        ["Express", "express-original"],
        ["Electron", "electron-original"],
        ["React/ReactNative", "react-plain"],
        ["ReduxToolkit", "redux-original"],
        ["Next.js", ""],
      ]
    ],
    ["third", "Python", "python-plain", [["Flask", ""]]]
  ]
  other_skills = [
    ["HTML", "devicon-html5-plain"],
    ["CSS3", "devicon-css3-plain"],
    ["Sass", "devicon-sass-plain"],
    ["Javascript", "devicon-javascript-plain"],
    ["Bootstrap", "devicon-bootstrap-plain"],
    ["Material-UI", "devicon-materialui-plain"],
    ["Git", "devicon-git-plain"],
    ["Docker", "devicon-docker-plain"],
    ["RaspberryPi", "fab fa-raspberry-pi text-danger"],
    ["GIMP", "devicon-gimp-plain"]
  ]

%h1 iz profile
%ul.list-group
  - profiles.each do |profile|
    %li.list-group-item= profile

%h2.mt-5 Link
%ul.list-group
  - links.each do |name, path, classname|
    = link_to path, class: "list-group-item list-group-item-action" do
      %i.colored.pr-3.fs-5{class: "devicon-#{classname}"}
      = name

%h2.mt-5 Skill

%div#accordionLang.accordion
- lang_skills.each do |num, title, classname, details|
  %div.accordion-item
    %h6.accordion-header.bg-white{id: "heading" + num}
      %button.accordion-button.collapsed{type: "button", "data-toggle" => "collapse", "data-target" => "#collapse" + num, "aria-expanded" => "false", "aria-controls" => "collapse" + num}
        %i.colored.pr-3.fs-5{class: "devicon-#{classname}"}
        = title
    %div.accordion-collapse.collapse{id: "collapse" + num, "aria-labelledby" => "heading" + num, "data-parent" => "#accordionLang"}
      %div.accordion-body.bg-white
        %ul.list-group
          - details.each do |title, classname|
            %li.list-group-item
              %i.colored.pr-3.fs-5{class: "devicon-#{classname}"}
              = title

%ul.list-group.mt-5
  - other_skills.each do |title, classname|
    %li.list-group-item
      %i.colored.pr-3.fs-5{class: classname}
      = title
