:ruby
  cards =[
    ["About","Web系のフロントエンド、バックエンドをメインに活動しています。趣味で作曲をしています。", static_pages_about_path],
    ["Posts","主にプログラミングなどの技術系についての記事を書いています。", posts_path],
    ["Contact","ブログに関するお問い合わせから、質問、お仕事の依頼などなんでも受け付けています。気軽にご連絡ください。", new_contact_path],
  ]
- if notice
  %div#notice.alert.alert-primary= notice

%h1 izszzz

#carouselExampleIndicators.carousel.slide{"data-ride" => "carousel"}
  %ol.carousel-indicators
    %li.active{"data-slide-to" => "0", "data-target" => "#carouselExampleIndicators"}
    %li{"data-slide-to" => "1", "data-target" => "#carouselExampleIndicators"}
  .carousel-inner
    .carousel-item.active
      = link_to 'https://reword-web.herokuapp.com' do
        = image_tag 'reword.png', class: "img-fluid"
    .carousel-item
      = link_to 'https://stave-docs.vercel.app' do
        = image_tag 'stave.png', class: "img-fluid"
  %a.carousel-control-prev{"data-slide" => "prev", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-prev-icon{"aria-hidden" => "true"}
    %span.sr-only Previous
  %a.carousel-control-next{"data-slide" => "next", :href => "#carouselExampleIndicators", :role => "button"}
    %span.carousel-control-next-icon{"aria-hidden" => "true"}
    %span.sr-only Next


.row.row-cols-1.row-cols-lg-3.g-1.mt-5
  - cards.each do |title, text, path|
    .col
      .card.h-100
        .card-body
          %h5.card-title= title
          %p.card-text= text
          = link_to "Go " + title, path, class: "btn btn-primary"

%h2.mt-5 ランダム記事
- @post.random(8).each do |post|
  = render "posts/card/card", post: post

%h2.mt-5 最新記事
- @post.latest(8).each do |post|
  = render "posts/card/card", post: post
