= form_with(model: post, local: true) do |form| 
  - if post.errors.any? 
    %div#error_explanation
      %h2
        = pluralize(post.errors.count, "error") 
        prohibited this post from being saved:

      - post.errors.full_messages.each do |message| 
        %li= message

  %div.mb-3
    = form.label :title, class: "form-label"
    = form.text_field :title, class: "form-control", placeholder: "title"

  %div.mb-3
    = form.label :body, class: "form-label"
    = form.text_field :body, class: "form-control", placeholder: "body"

  %div.actions
    = form.submit class:"btn btn-primary"
