= javascript_include_tag 'load-mdfile', 'data-turbolinks-track': 'reload'
= javascript_include_tag 'bootstrap-tagsinput', 'data-turbolinks-track': 'reload'

= form_with(model: post, local: true) do |form| 
  - if post.errors.any? 
    %div.alert.alert-danger{role: "alert"}
      %h2
        = pluralize(post.errors.count, "error") 
        prohibited this post from being saved:

      - post.errors.full_messages.each do |message| 
        %li= message

  %div.mb-3
    = form.label :title, class: "form-label"
    = form.text_field :title, class: "form-control", placeholder: "title"

  %div.mb-3
    = form.label :summary, class: "form-label"
    = form.text_field :summary, class: "form-control", placeholder: "summary"

  %div.mb-3
    = form.label :category_list, class: "form-label tagsinput"
    = form.text_field :category_list, class: "form-control",placeholder: "tag", data:{role: "tagsinput"}

  %div.mb-3
    = form.label :tag_list, class: "form-label tagsinput"
    = form.text_field :tag_list, class: "form-control", placeholder: "category", data:{role: "tagsinput"}, value: post.tag_list.join(", ")

  %div.mb-3
    = label :mdfile, :mdfile, class: "form-label"
    = file_field :mdfile, :mdfile, id: "mdFileField", class: "form-control"

  %div.mb-3
    = form.label :body, class: "form-label"
    = form.text_area :body, id: "mdTextArea",class: "form-control", placeholder: "body"

  %div.actions
    = form.button class:"btn btn-primary", type: "button", onclick: "submit();"
