- if notice
  %div#notice.alert.alert-primary= notice

%div.row
  %div.col.8
    = markdown @post.body
  %div.col-4
    = render "sidebar", posts: @posts

- if admin_signed_in?    
  = link_to 'Edit', edit_post_path(@post), "btn btn-success"
  |
= link_to 'Back', posts_path, class: "btn btn-secondary"

%div
  = render "bottom-content", posts: @posts
