- tag_lists = [["folder-open", "カテゴリー", @post.categories], ["tag", "タグ", @post.tags]]
- dates = [["upload", @post.created_at], ["redo-alt", @post.updated_at]]

%script{ "data-ad-client" => "ca-pub-2292531594226333",  async: "", src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}

- if notice
  %div#notice.alert.alert-primary= notice

%div.row

  %div.col-12.col-md-8
    %div.d-flex.justify-content-around.align-items-center.w-100.mb-3.bg-secondary.text-white.post-show-img
      - @post.tags.each do |tag|
        %i.my-5.display-1{class: "devicon-#{tag}-plain"}

    %p
      %small.text-muted
        - dates.each do |classname, date|
          %i.fas.mr-3{class: "fa-#{classname}"}
            = date.strftime("%Y/%m/%d")
    %p
      %small.text-muted
        = render "tag_lists", tag_lists: tag_lists

    %div.bg-white.border.p-3
      - if admin_signed_in?    
        %div.btn-group.w-100
          = link_to 'Edit', edit_post_path(@post), class: "btn btn-success w-50"
          = link_to "Delete", post_path(@post), method: :delete, class: "btn btn-danger w-50"


      %div.mt-3
        = markdown @post.body
        = social_share_button_tag(@post.title, allow_sites: %w(twitter facebook google_bookmark tumblr pinterest email reddit hacker_news))

    %div.container-fluid.mt-5
      %div.row
        -if prev_post = @post.prev
          %div.col-5.card.h-100.hvr-backward
            %div.row
              %div.col-0.col-lg-4.d-none.d-lg-flex.justify-content-center.align-items-center.bg-secondary.text-white
                %i.display-5{class: "devicon-#{prev_post.tags[0]}-plain"}
              %div.col-12.col-lg-8
                %div.card-body
                  %h6 
                    Prev : 
                    = link_to prev_post.title, prev_post, class: "text-body stretched-link" 
        -else
          %div.col-5

        -if next_post = @post.next
          %div.col-5.card.h-100.offset-2.hvr-forward
            %div.row
              %div.col-12.col-lg-8
                %div.card-body
                  %h6.card-title
                    Next : 
                    = link_to next_post.title, next_post, class: "text-body stretched-link"
              %div.col-0.col-lg-4.d-none.d-lg-flex.justify-content-center.align-items-center.bg-secondary.text-white
                %i.display-5{class: "devicon-#{next_post.tags[0]}-plain"}

    %div.mt-5
      = render "bottom-content", random_posts: @post.random

  %div.col-0.col-md-4.d-none.d-md-block
    = render "sidebar", post: @post, tags: @tags, categories: @categories


