!!!
%html
  %head
    = csrf_meta_tags 
    = csp_meta_tag 

    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    - if Rails.env.production?
      %script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=G-CZ1BWE20CB"}
      :javascript
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-CZ1BWE20CB');

      %script{ "data-ad-client" => "ca-pub-2292531594226333",  async: "", src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    
    %link{rel: "stylesheet", href: "https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css"}

    = display_meta_tags site: 'izszzz blog'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.bg-light
    = render "layouts/header"
    %div.container
      = yield 
    = render "layouts/footer"
