!!!
%html
  %head
    = csrf_meta_tags 
    = csp_meta_tag 

    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    - if Rails.env.production?
      = analytics_init if GoogleAnalytics.valid_tracker?
      %script{ "data-ad-client" => "ca-pub-2292531594226333",  async: "", src: "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"}
    

    = display_meta_tags site: 'izszzz blog'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

  %body.bg-light
    = render "layouts/header"
    %div.container
      = yield 
    = render "layouts/footer"
